VITE_SUPABASE_URL=https://oifuktqrnfmjvjzofeaq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pZnVrdHFybmZtanZqem9mZWFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMzM4ODUsImV4cCI6MjA5MjcwOTg4NX0.3wswSVVEkedWA8Wnsev1T7xxgwliJodvo64Iw8IZr2w